<p id="notice"><%= notice %></p>

<div class="">
  <h1>CongoTech</h1>
  <div><p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
    Aenean commodo ligula eget dolor. Aenean massa. 
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
  </div>
<div>
  <div class="col-12 main-section">
    <div class="col-4 main-section__image-row">
      <%= image_tag('Orange-logo.svg') %>
    </div>
    <div class="col-12 row main-section__image-row">
      <div class="col-6">
        <%= image_tag('vodacom-logo.jpg') %>
      </div>
      <div class="col-6">
        <%= image_tag('airtel-logo.jpg') %>
      </div>
    </div>
    <div class="col-4 main-section__image-row">
      <%= image_tag('Africell-logo.png') %>
    </div>
  </div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carriers.each do |carrier| %>
      <tr>
        <td><%= carrier.name %></td>
        <td><%= carrier.description %></td>
        <td><%= carrier.extension %></td>
        <td><%= link_to 'Show', carrier %></td>
        <td><%= link_to 'Edit', edit_carrier_path(carrier) %></td>
        <td><%= link_to 'Destroy', carrier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrier', new_carrier_path %>
