<!DOCTYPE html>
<html>
  <head>
    <title>CreditApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'layouts/main_navbar' %>
    <div id="main-content" >
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <h1>Hi, <%= current_user.first_name %></h1>
      <% else %>
        <%= link_to 'Register', new_user_registration_path %>
        <%= link_to 'logout',  new_user_session_path %>
      <% end %>
      <% if notice || alert  %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div class="row">
        <div id="" class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
